NODE_ENV=development

PORT=3333
HOST=http://localhost:3333


# DATABASE type, default: postgres
DATABASE_TYPE=postgres

# DATABASE host:
DATABASE_HOST=

# DATABASE port, default: 5432
DATABASE_PORT=5432

# DATABASE name
DATABASE_NAME=

# DATABASE username
DATABASE_USERNAME=

# DATABASE password
DATABASE_PASSWORD=


# CLOUDINARY name
CLOUDINARY_NAME=

# CLOUDINARY key
CLOUDINARY_KEY=

# CLOUDINARY secret
CLOUDINARY_SECRET=


# ADMIN USER
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
ADMIN_FULL_NAME=
